@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

body{
    margin: auto;
    max-width: 640px;
    height: 588px;
    font-family: 'Changa', sans-serif;
   /* background-image: url('/images/Hangman.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-position-x: 68rem;
    background-size: 9rem;*/
    text-align: center;
    border: 2px solid ;
}

h1{
   margin: 0;
   background-color: #6EE7B7;
}

p{
    font-size: larger;
    margin-bottom: 0;
}

#output{
    margin:0;
    font-size: 4rem;
}

textarea{
    width : 25%;
    height: 2rem;
    margin-top: 1rem;
}

#textLine{
    font-size: 2rem;
    font-weight: bold;
    background-color: #6EE7B7;
}

#wc{
    font-size: larger;
    font-weight: bold;
}

#guess{
    font-size: 2rem;
}

#result {
    font-size: 2rem;
    background-color: #6EE7B7;
}

#progress {
    font-size: 2rem;
}

#correctAns {
    font-size: 1.5rem;
    color: green;
    background-color: #6EE7B7;
    margin-bottom: 0;
    
}

.change{
    font-size: larger;
    margin: 1rem;
}
